@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    display: inline;
    overflow-x: hidden;
    margin: 0;
    background-color: #485e5e;
}

.cabecera{
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(./imagenes/manuimagen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 100vw;
    color: white;
}

.imglogo{
    height: 100px;
    width: 100px;
    margin-left: 15px;
    transition: all 0.3s;
}

.imglogo:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.imglogo:active{
    transform: scale(0.9);
    transition: all 0.2s;
}

.info{
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
    flex: 1;
    display: flex;
    align-items: center;
}

.info img{
    margin-right: 10px;
}

.animated-button{
    margin-right: 15px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    background-color: #058EA7;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff;
    box-shadow: 0 0 0 2px #320C90;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button svg{
    position: absolute;
    width: 24px;
    fill: #1f387e;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .arr-1{
    right: 16px;
}
  
.animated-button .arr-2{
    left: -25%;
}
  
.animated-button .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #320C90;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .text{
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button:hover{
    box-shadow: 0 0 0 12px transparent;
    color: #ffffff;
    border-radius: 12px;
}
  
.animated-button:hover .arr-1{
    right: -25%;
}
  
.animated-button:hover .arr-2{
    left: 16px;
}
  
.animated-button:hover .text{
    transform: translateX(12px);
}
  
.animated-button:hover svg{
    fill: #058EA7;
}
  
.animated-button:active{
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
}
  
.animated-button:hover .circle{
    width: 220px;
    height: 220px;
    opacity: 1;
}

.reg{
    height: 65px;
    color: white;
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 25px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #320C90;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
}
  
.reg:hover{
    background: #058EA7;
}
  
.reg > svg{
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}
  
.reg:hover svg{
    transform: translateX(5px);
}
  
.reg:active{
    transform: scale(0.95);
}

.titulo1{
    font-size: 50px;
    font-family: "Comfortaa", sans-serif;
    margin-left: 15px;
}

button{
    margin-left: 30px;
}

.noticias{
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    margin-left: 80px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.noticias::after{
    content: '';
    bottom: 0;
    left: 0;
    width: 0px;
    height: 3px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: width 0.3s ease;
}

.noticias:hover::after{
    width: 100%;
}

.noticias:active{
    transform: scale(0.9);
    transition: all 0.005s;
}

.preguntas{
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.preguntas::after{
    content: '';
    bottom: 0;
    left: 0;
    width: 0px;
    height: 3px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: width 0.3s ease;
}

.preguntas:hover::after{
    width: 100%;
}

.preguntas:active{
    transform: scale(0.9);
    transition: all 0.005s;
}

.acerca{
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    margin-right: 25px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.acerca::after{
    content: '';
    bottom: 0;
    left: 0;
    width: 0px;
    height: 3px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: width 0.3s ease;
}

.acerca:hover::after{
    width: 100%;
}

.acerca:active{
    transform: scale(0.9);
    transition: all 0.005s;
}


.h3_1{
    margin-left: 80px;
}

a{
    text-decoration: none;
    color: white;
}

.redes{
    display: flex;
    position: relative;
    background-image: url(./imagenes/fondoredes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
    width: 35%;
    top: 55px;
    left: 2%;
    border-radius: 30px;
    padding: 10px 10px;
    transition: all 0.3s;
}

.redes:hover{
    transition: all 0.3s;
    box-shadow: 10px 10px 10px #ffffff;
}

.youtube{
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 90px;
    position: absolute;
}

.instagram{
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.fa.fa-instagram{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.imgyt{
    cursor: pointer;
    position: absolute;
    border-radius: 30px;
    height: 25%;
    width: 90%;
    left: 5%;
    top: 18%;
    opacity: 80%;
    transition: all 0.2s;
}

.imgyt:hover{
    transform: scale(1.07);
    transition: all 0.3s;
    opacity: 1;
}

.imgyt:active{
    transform: scale(1);
    transition: all 0.2s;
}

.imginstagram{
    cursor: pointer;
    position: absolute;
    border-radius: 30px;
    height: 35%;
    top: 61%;
    left: 22%;
    right: auto;
    opacity: 80%;
    transition: all 0.2s;
}

.imginstagram:hover{
    transform: scale(1.07);
    transition: all 0.3s;
    opacity: 1;
}

.imginstagram:active{
    transform: scale(1);
    transition: all 0.2s;
}

.contenido-principal{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main{
    margin-top: 100px;
    margin-left: 3%;
    color: white;
    font-family: "Comfortaa", sans-serif;
}

.sponsor{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: #005300;
    border-radius: 25px;
    margin: 20px;
    margin-top: 100px;
}

.balon{
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    background-color: #465546;
}

.pelota{
    margin-top: 20px;
    height: 400px;
    width: 400px;
    transition: all 0.3s;
}

.pelota:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s;
}

.balon-oficial{
    position: absolute;
    margin-top: 30px;
}

.luengo{
    border-radius: 25px;
}

.imgcartel{
    margin-top: 120px;
    margin-left: 40%;
    height: 1000px;
    border-radius: 30px;
    transition: all 0.2s;
}

.imgcartel:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 0px 0px 40px rgba(255, 255, 255);
}

.estadio{
    display: flex;
    width: 85%;
    height: 80px;
    background-color: #2c5a2c;
    opacity: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 8%;
    border-radius: 100px;
    box-shadow: 0px 0px 40px #148314;
}

.titulo-estadio{
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.mapa{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 100px;
}

iframe{
    border-radius: 25px;
    box-shadow: 0px 0px 30px #02ff02;
}

.radio{
    display: none;
}

.letrero-equipos{
    display: flex;
    width: 85%;
    height: 80px;
    background-color: #2c5a2c;
    opacity: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: 8%;
    border-radius: 100px;
    box-shadow: 0px 0px 40px #148314;
}

.equipos-titulo{
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.equipos{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-left: 38%;
    margin-top: 250px;
}

.cards{
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label{
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{
    position: relative;
    height: 100%;
    background-color: #a7a1a1;
    border-radius: 10px;
    padding: 30px 35px;
}

.cards .imagenes{
    display: flex;
    justify-content: space-between;
}

.cards .imagenes img{
    border-radius: 5px;
    box-shadow: 15px 15px 50px rgb(0, 179, 0, 50%);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    object-fit: cover;
    transition: all .5s;
}

.cards .imagenes img:hover{
    transform: scale(1.1);
}

.cards .imagenes .puntos{
    text-align: center;
}

.puntos div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.puntos div:nth-child(1){
    background-color: var(--current-color1);
}

.puntos div:nth-child(2){
    background-color: #5b85f9;
}

.puntos div:nth-child(3){
    background-color: #000;
}

.cards .infos{
    display: flex;
    text-align: left;
    margin-right: 120px;
    padding-top: 60px;
    
}

.card .infos span{
    display: block;
}

.infos .name{
    font-size: 30px;
    color: white;
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all .6s ease;
    font-family: "Comfortaa", sans-serif;
}


#c1:checked~.cards #carrusel4,
#c2:checked~.cards #carrusel5,
#c3:checked~.cards #carrusel1,
#c4:checked~.cards #carrusel2,
#c5:checked~.cards #carrusel3{

    box-shadow: 0 15px 30px rgb(0, 179, 0, 50%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #eceaed;
    --currente-color2: #404457;
}

#c1:checked~.cards #carrusel5,
#c2:checked~.cards #carrusel1,
#c3:checked~.cards #carrusel2,
#c4:checked~.cards #carrusel3,
#c5:checked~.cards #carrusel4{

    box-shadow: 0 20px 40px rgb(0, 179, 0, 50%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #eceaed;
    --currente-color2: #404457;
}

#c1:checked~.cards #carrusel1,
#c2:checked~.cards #carrusel2,
#c3:checked~.cards #carrusel3,
#c4:checked~.cards #carrusel4,
#c5:checked~.cards #carrusel5{

    box-shadow: 0 25px 50px rgb(0, 179, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --currente-color2: #eceaed;
}

#c1:checked~.cards #carrusel2,
#c2:checked~.cards #carrusel3,
#c3:checked~.cards #carrusel4,
#c4:checked~.cards #carrusel5,
#c5:checked~.cards #carrusel1{

    box-shadow: 0 20px 40px rgb(0, 179, 0, 50%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #eceaed;
    --currente-color2: #404457;
}

#c1:checked~.cards #carrusel3,
#c2:checked~.cards #carrusel4,
#c3:checked~.cards #carrusel5,
#c4:checked~.cards #carrusel1,
#c5:checked~.cards #carrusel2{

    box-shadow: 0 15px 30px rgb(0, 179, 0, 50%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #eceaed;
    --currente-color2: #404457;
}

